@font-face {
	font-family: 'PartnerCondensed';
	src: url('../fonts/18324.eot');
	src: local('☺'), url('../fonts/18324.woff') format('woff'), url('../fonts/18324.ttf') format('truetype'), url('../fonts/18324.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'BebasNeueRegular';
	src: url('../fonts/11819.eot');
	src: local('☺'), url('../fonts/11819.woff') format('woff'), url('../fonts/11819.ttf') format('truetype'), url('../fonts/11819.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'NotoSans';
	src: url('../fonts/NotoSans.eot');
	src: local('☺'), url('../fonts/NotoSans.woff') format('woff'), url('../fonts/NotoSans.ttf') format('truetype'), url('../fonts/NotoSans.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Aleo';
	src: url('../fonts/AleoRegular.eot');
	src: local('☺'), url('../fonts/AleoRegular.woff') format('woff'), url('../fonts/AleoRegular.ttf') format('truetype'), url('../fonts/AleoRegular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto.eot');
	src: local('☺'), url('../fonts/Roboto.woff') format('woff'), url('../fonts/Roboto.ttf') format('truetype'), url('../fonts/Roboto.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

